In [2]:
from pprint import PrettyPrinter

import pandas as pd
import plotly.express as px
from country_converter import CountryConverter
from IPython.display import VimeoVideo
from pymongo import MongoClient

In [3]:
pp = PrettyPrinter(indent=2)
print("pp type:", type(pp))

pp type: <class 'pprint.PrettyPrinter'>

In [5]:
client = MongoClient(host="localhost",port=27017)
print("client type:", type(client))

client type: <class 'pymongo.synchronous.mongo_client.MongoClient'>

In [8]:
db = client["abtest-db"]
ds_app = db["ds-applicants"]
print("ds_app type:", type(ds_app))

ds_app type: <class 'pymongo.synchronous.collection.Collection'>

In [9]:
# Count documents in `ds_app`
n_documents = ds_app.count_documents({})
print("Num. documents in 'ds-applicants':", n_documents)

Num. documents in 'ds-applicants': 5025

In [10]:
result = ds_app.find_one({})
print("result type:", type(result))
pp.pprint(result)

result type: <class 'dict'>
{ '_id': '6525d787953844722c8383f8',
  'admissionsQuiz': 'incomplete',
  'birthday': '1998-04-29 00:00:00',
  'countryISO2': 'GB',
  'createdAt': '2022-05-13 15:02:44',
  'email': 'terry.hassler28@yahow.com',
  'firstName': 'Terry',
  'gender': 'male',
  'highestDegreeEarned': "Bachelor's degree",
  'lastName': 'Hassler'}

In [14]:
result = ds_app.aggregate(
    [
        {
            "$group": {
                "_id": "$countryISO2", "count": { "$count": {}}
            }
        }
    ]
)
print("result type:", type(result))

result type: <class 'pymongo.synchronous.command_cursor.CommandCursor'>

In [12]:
df_nationality = pd.DataFrame(result)

print("df_nationality type:", type(df_nationality))
print("df_nationality shape", df_nationality.shape)
df_nationality.head()

df_nationality type: <class 'pandas.core.frame.DataFrame'>
df_nationality shape (139, 2)

  _id  count
0  LS     16
1  GN      3
2  MR      1
3  SL     45
4  HT      2

In [ ]:
df_nationality = pd.DataFrame(result)

print("df_nationality type:", type(df_nationality))
print("df_nationality shape", df_nationality.shape)
df_nationality.head()

In [13]:
df_nationality = pd.DataFrame(result).rename({"_id": "country_iso"}, axis="columns").sort_values("count")

print("df_nationality type:", type(df_nationality))
print("df_nationality shape", df_nationality.shape)
df_nationality.head()

KeyError: 'count'

# to solve above problem We need to run ds_app.aggregate() to recharge the cursor into result variable..every time we are trying to pd.DateFrame(result)

In [15]:
df_nationality = pd.DataFrame(result).rename({"_id": "country_iso"}, axis="columns").sort_values("count")

print("df_nationality type:", type(df_nationality))
print("df_nationality shape", df_nationality.shape)
df_nationality.head()

df_nationality type: <class 'pandas.core.frame.DataFrame'>
df_nationality shape (139, 2)

   country_iso  count
16          TM      1
62          MK      1
64          CL      1
36          IL      1
37          CY      1